# ============================================
# CTI Wiki — Variáveis de ambiente
# Copie este arquivo para .env e preencha.
# O .env NUNCA deve ser commitado.
# ============================================
# Conexao com banco de dados PostgreSQL
DATABASE_URL=postgresql://srv_app_wiki:srv_app_wiki@192.168.53.207:5432/wiki

# --------------------------------------------
# GitLab interno da AEB
# --------------------------------------------
VITE_GITLAB_URL=https://gitlab.aeb.gov.br/api
VITE_GITLAB_TOKEN=glpat-uqr46e8iRZ0OivXMVk0h4W86MQp1OjF1CA.01.0y1568ngp
VITE_GROUP_PATH=cti

# --------------------------------------------
# Nutanix Prism Element (rede interna)
# Quando NUTANIX_URL estiver vazio ou NUTANIX_MOCK=true,
# o sistema usa dados mockados.
# --------------------------------------------
#NUTANIX_URL=https://IP_DO_PRISM:9443
#NUTANIX_USER=admin
#NUTANIX_PASS=sua_senha_aqui
# NUTANIX_MOCK=true
# --------------------------------------------

# Prometheus (rede interna)
# Quando PROMETHEUS_URL estiver vazio ou PROMETHEUS_MOCK=true,
# o sistema usa dados mockados.
# --------------------------------------------
PROMETHEUS_URL=http://IP_DO_PROMETHEUS:9090

# Para node_exporter direto (porta 9100), use vírgula para múltiplos:
# PROMETHEUS_URL=http://192.168.53.231:9100,http://192.168.53.232:9100
# PROMETHEUS_MOCK=true

# --------------------------------------------
# Servidor
# --------------------------------------------
VITE_SERVER_UML = http://127.0.0.1:3000/api

# Autenticação LDAP (backend)
LDAP_HOST=ldap://aquarius.aeb.gov.br
LDAP_PORT=389
LDAP_BIND_DN=
LDAP_BASE_DN=OU=CTIC,OU=DPOA,OU=DIRETORIAS,OU=PRESIDENCIA,OU=DEPARTAMENTOS,OU=USUARIOS,OU=AEB,DC=aeb,DC=gov,DC=br
LDAP_BIND_PASSWORD=
